/* colors
    LIGHT SALMON: #F79F79;
    PEACH-ORANGE: #F7D08A;
    KEY LIME: #E3F09B;
    PEWTER BLUE: #87B6A7;
    UMBER: #5B5941;
*/

body {
    background: linear-gradient(to right, #F79F79, #F7D08A);
    margin: 0 auto;
}

.button, #debug {
    background-color: #87B6A7;
}

.button:hover, #debug:hover {
    cursor: pointer;
    background-color: #5B5941; 
}

table {
    margin: 0 auto;
}

td {
    width: 50px;
    text-align: center;
}

p {
    text-align: center; 
}

#debug {
    display: block;
    margin: 0 auto;
}
